.form-inputs{
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
    grid-template-rows: repeat(5, auto);   
    grid-gap: 1em;
}

form  p { padding-bottom: 2em;}

input, textarea{
    background-color: rgb(208, 200, 200); 
    border-radius: 4px;
    border-style: solid;
}

textarea:required:invalid,input:required:invalid {
    border-color: #c15858;
    border-width: 3px;
}

span{
    color: #c15858;
    font-weight: bold;
}

input{
height:30px;
max-width: 250px ;
}

#label-name,#label-email,#label-subject,#label-message{

    justify-self: right;
    align-self: center;
}

#label-name{grid-area: 1 / 1 ;}
#name{grid-area: 1 / 2 ;}

#label-email{grid-area: 2 / 1 ;}
#email{grid-area: 2 / 2;}

#label-subject{grid-area: 3 / 1 ;}
#subject{grid-area: 3 / 2;}

#label-message{grid-area: 4 / 1;}
#message{
    
    grid-area: 4/2;
    height:70px;
    max-width: 250px ;
}

#submit{

    grid-area: 5/2/5/3;  
    height:3em;
    align-self: left;
    width:50%;
    max-width: 125px ;
}

#submit:hover{
    color: rgb(208, 200, 200); 
    background-color: rgba(7, 2, 38, 0.6);
}
